<pre id="output"></pre>

<script>
function predict() {
    const phi = parseFloat(document.getElementById("phi").value);
    const rt = parseFloat(document.getElementById("rt").value);

    fetch("http://127.0.0.1:5000/predict", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ phi, rt })
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("output").innerText =
            JSON.stringify(data, null, 2);
    });
}
</script>

</body>
</html>

